  /*description job*/
  .page-wrapper2{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  
    /* Resize the wrap to see the search bar change! */
  .wrap{
    width: 100%;
  }

  /* search page*/
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
 
  .dropdown-item-container-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;
    padding-right: 2%;
  }
  .dropdown-item-category {
    width: 100%;
    height: 100%;
  
    display: flex;
    align-items: center;
    margin-top: 2%;
  }
  .dropdown-label-category {
    font-size: 20px;
    margin-bottom: 2%;
    width: 65%;
    background-color: aqua;
  }
  .category-input {
    margin-right: 5%;
  }
  .category-label {
    font-size: 18px;
  }
  .fa-chevron-right,
  .fa-chevron-left {
    color: black;
  }
  
  .fa-user-circle {
    font-size: 30px;
  }
  .fa-bell {
    font-size: 30px;
  }
  .fa-custom{
    color: #007a40;
  }
  .searchTerm {
    width: 100%;
    border: 3px solid #00cc11;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00cc1b;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00cc11;
    background: #11cc00;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  @media screen and (min-width: 100px) and (max-width: 900px) {
    .filter-sort-navigation {
      padding-top: 9vh;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .tag-section {
      width: 100%;
    }
    .dropdown {
      height: 1px;
      width: 1px;
    }
    .dropdown-toggle {
      width: 18vh;
      font-size: 12px;
    }
    .dropdown-menu {
      height: 10px;
      width: 10px;
    }
    .inner-menu-container-price {
      width: 20px;
    }
    .apply-container {
      height: 10px;
      width: 10px;
    }
    .filter-section {
      width: 50%;
      padding-left: 10vh;
    }
    .sort-section {
      width: 50%;
    }
    .filter-tag-section {
      width: 20%;
    }
    .sort-tag-section {
      width: 20%;
    }
  }
  
  .resultstext  */
  .block{
    margin-top: 2% ;
  }
  .skillsRequired button{
    min-width: 100px;
    background:linear-gradient(63deg, rgba(1,166,98,1) 0%, rgba(2,172,102,1) 100%);
    border-radius: 10px;
    color: white;
  }
  
  .block{
    padding: 2%;
    border: solid 1px #007a40;
  }
  .no-data-img img{
    height: 400px;
    width: 700px;
  }