
.name{
  font-size:x-large;
}
.add_cont {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-width: 800px;
  width: 200%;
  margin-top: 0;
  margin: auto;
}
.add_cont > form {
  width: 90%;
  border: 1px solid #dfdfdf;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, rgb(51, 220, 9) , rgb(30, 151, 71));
}
.pre {
  width: 50%;
  color: #fff;
  font-size: larger;
}

.button {
  background: #29e917 !important;
}
.errors {
  color: red;
}
.add_row {
  display: flex;
  height: 400px;

}

.add_col1 .add_field{
  flex: 100%;
  padding-bottom: 15px;
  align-items: flex-start;
}

.add_col1{
  flex: 100%;
  padding: 0px;
  flex-direction: column;
}
.buttonClass{
  padding-left: 40%;
  padding-bottom: 5%;
}
