.flash {
  background: #f6f9fc;
  padding: 100px 10px;
}
.container .nitish {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.something {
  background-color: #f3f5f9;
  margin-left: 10px;
  padding: 10px 5px;
  
}

